<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Bike Dikhao</a>
    <button #toggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active">Home <span class="
                    sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/About" [routerLinkActive]='["active"]'>About Us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input #searchval class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                (click)="openSearch(searchval, toggler)">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div
    *ngIf="showModal"
    style="width: 100vw; height: 100vh; position: fixed; z-index: 50"
    class="justify-content-center align-items-center d-flex slide-in-down">
    <div #close style="height: 100vh; position:absolute; width: 100vw; z-index: -1; backgroundColor: rgba(0,0,0,0.3);"
        (click)="closeSearch()"></div>
    <app-search [handleChange]="handleChange" [searchedData]="searchedData" [closeSearch]="clicked"></app-search>
</div>
<div class="my-2 py-4"></div>