<div class="shadow m-5 p-5">
    <h1 class="my5text-center">Bike Dikhaao</h1>
    <h3>About me</h3>
    <h6>Author: Praveen Prajapati | Full stack web developer    </h6>
    <h6>Project type: Acadmic</h6>
    <h6>Version : v0.0.2</h6>
    <h6>Technology: Angular | Typescript | JSON | CSS</h6>
    <p class="text-justify">This Website is a mini project of one of my acadamic subject which was HMI ( Human Machine Interaction ),
        The idea is to help our audience to find best bike as per there need and budget
        It could be very useful for people before going to the showroom.
    </p>
</div>